@page "/Profile"
@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center mt-8">
    <MudPaper Class="pa-8" Style="width: 500px;">
        <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">Profile</MudText>
        @if (this.CurrentUser != null)
        {
            <MudForm @ref="form" @bind-IsValid="@success">
                <MudTextField @bind-Value="@this.CurrentUser.Name"
                              Label="Full name"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="This field is required"
                              Class="mb-3" />

                <MudTextField @bind-Value="@this.CurrentUser.UserName"
                              Label="Username"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="This field is required"
                              Class="mb-3" />

                <MudTextField @bind-Value="@this.CurrentUser.PhoneNumber"
                              Label="Phone number"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="This field is required"
                              Class="mb-3" />

                <MudTextField @bind-Value="@this.CurrentUser.Email"
                              Label="E-mail"
                              Variant="Variant.Outlined"
                              Required="true"
                              RequiredError="This field is required"
                              Class="mb-3" />

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           FullWidth="true"
                           OnClick="ChangePasswordAsync"
                           Class="mb-6">
                    Change password
                </MudButton>

                <div class="d-flex justify-space-between">
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Primary"
                               OnClick="ClearFormAsync">
                        Clear
                    </MudButton>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               OnClick="SaveChangesAsync">
                        Save
                    </MudButton>
                </div>
            </MudForm>
        }
    </MudPaper>
</MudContainer>
